* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.main {
    min-height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: black;
    padding: 10px 20px;
}

.top-nav nav {
    margin-left: auto;
}

a:hover {
    color: red;
}

#name1 {
    margin-top: 20px;
    font-size: 25px;
}

.main1 {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button {
    width: 90px;
    height: 38px;
    font-weight: 500;
    color: white;
    margin: 10px;
    border: none;
    cursor: pointer;
}

.btn1 {
    background-color: rgb(184, 79, 79);
    border-color: red;
    border-radius: 5%;
}

.btn2 {
    background-color: black;
    border-color: red;
    border-radius: 5%;
}

h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    box-shadow: 12px 13px 10px rgb(55, 49, 120);
    border-radius: 1%;
}

.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    height: 15px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    background-color: orchid;
    color: white;
    margin-right: 10px;
    cursor: pointer;
}

.contact {
    text-align: right;
    margin-top: 20px;
}

.contact p {
    margin-left: -25px;
}
